<nav class="gemini-navbar">
    <div class="gemini-navbar-container">
      <a class="gemini-brand" href="#">Sunyata PM</a>
      <ul class="gemini-nav-list">
          <li class="gemini-nav-item">
              <a class="gemini-nav-link"
                 routerLink="/products"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: true}">Products</a>
          </li>
          <li class="gemini-nav-item">
              <a class="gemini-nav-link"
                 routerLink="/categories"
                 routerLinkActive="active">Categories</a>
          </li>
          <li class="gemini-nav-item">
             <a class="gemini-nav-link"
                  routerLink="/brands"
                  routerLinkActive="active">Brands</a>
          </li>
          <li class="gemini-nav-item">
              <a class="gemini-nav-link"
                 routerLink="/manufacturers"
                 routerLinkActive="active">Manufacturers</a>
          </li>
          <li class="gemini-nav-item" *ngIf="!(authService.isLoggedIn$ | async)">
              <a class="gemini-nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
          </li>
          <li class="gemini-nav-item" *ngIf="!(authService.isLoggedIn$ | async)">
              <a class="gemini-nav-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
          </li>
          <li class="gemini-nav-item" *ngIf="(authService.isLoggedIn$ | async)">
              <a class="gemini-nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid mt-5 gemini-container">
      <router-outlet></router-outlet>
  </div>
  <router-outlet />